app.yourdomain.com {
    reverse_proxy frontend:3000
}

api.yourdomain.com {
    reverse_proxy migration:8080
}

booking.yourdomain.com {
    reverse_proxy booking:8081
}

temporal.yourdomain.com {
    reverse_proxy temporal-ui:8080
}
